.main-recipes {
    color: burlywood;
    font-size: 72px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction:flex;
    padding: 5px 20px 5px 5px;
}

.sub {
    width: 100%;
    padding: 25px;
    border-style: solid;
    border-width: 3px;
}

#green {
    border-radius: 50px 0px 0px 50px;
}

#yellow {
    border-radius: 0px 50px 50px 0px;
}

img {
    width: 100%;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    text-align: center;
}